* body{
    background: #ffffff;
    margin: 0;
	padding: 0;
	border: 0
}

header{
    display: flex;
    justify-content: flex-end;
    justify-content: arial;
    width: 100%;
}

.logo{
    margin-top: 25px;
    margin-right: 400px;
}

.cabecalho1{
    margin-top: 40px;
    margin-right: 100px;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.cabecalho1 a{
    text-decoration: none;
    color: black;
}

.dropdown{
    margin: 0px;
}

.home{
    outline: none;
    font-weight: 600;
}

.botaologin{
    color: #fff;
    width: 100px;
    background-color: blue;
    border: 2px;
    border-radius: 4px;
    font-weight: 600;
}

.botaologin:hover{
    color: #fff;
}

.Meio{
    background-image: url(background2.png);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10rem;
    background-size: cover;
}

.Meio p{
    font-size: 1rem;
    font-weight: 700;
    color: #111;
}

.Meio h1{
    font-size: 4rem;
    font-weight: 700;
    color: #111;
}

.Meio h4{
    margin-top: 20px;
    font-weight: 700;
    color: #111;
}

.Meio button{
    margin-top: 10px;
    background-color: rgb(234, 192, 4);
    border-radius: 5px;
    border: 2px;
    font-weight: 700;
}

.Features{
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    margin-top: 5rem;
}

.titulo p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    background-color: rgba(52, 234, 234, 0.444);
    opacity: 10;
    padding: 0rem;
    border-radius: 5px;
    color: darkslategray;
    border: 2px;
    font-weight: 700;
}

.titulo h1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 700;
}

.card1{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.card2{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.card3{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.container3{
    gap: 2rem;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
}

.container4{
    background-image: url(background1.png);
    background-position: center;
    background-size: cover;
    height: 60vh;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    margin-top: 5rem;
}

.text-cta h1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 90px;
    color: #fff;
}

.text-cta button{
    margin-top: 30px;
    border: none;
    background-color: rgb(234, 192, 4);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    color: black;
    font-weight: 700;
}

.Contato{
    display: flex;
    gap: 5rem;
    background-color: rgb(15, 10, 46);
    padding: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.meio-contato h3{
    color: #fff;
    font-size: 23px;
    margin-bottom: 1.6rem;
}

.meio-contato h5{
    font-size: 15px;
    font-weight: 600;
    color: #555;
}

.meio-contato li a{
    display: block;
    text-decoration: none;
    color: #555;
    font-weight: 550;
    transition: 0.35s ease;
}

.meio-contato2{
    color: #fff;
    font-size: 50px;
}

.meio-contato2 input{
    width: 240px;
    height: 35px;
    background: #605f5f;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.btn{
    width: 150px;
    height: 40px;
    background: rgb(234, 192, 4);
    border: none;
    color: #111;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn:hover{
    background: #fff;
}

.btn a{
    text-decoration: none;
    color: #111;
    font-weight: 550;
}

.last-text{
    background-color: rgb(15, 10, 46);
    display: flex;
    gap: 5rem;
}

.last-text text{
    display: flex;
    gap: 5rem;
}

.last-text p{
    color: #555;
    font-weight: 550;
    padding-top: 20px;
    text-align: left;
    margin-left: 8rem;
}



